/* Beispiel-CSS */
body {
    background-color: #fff8dc; /* Creme-Weiß */
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333; /* Schriftfarbe */
}

/* Media Query für Bildschirme mit maximaler Breite von 768px (Tablets und kleinere Bildschirme) */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        /* Änderungen für kleinere Bildschirme hier */
    }

    /* Weitere Media Query-Stilregeln hier */
}

/* Media Query für Bildschirme mit maximaler Breite von 480px (Mobile Geräte) */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
        /* Änderungen für noch kleinere Bildschirme hier */
    }

    /* Weitere Media Query-Stilregeln hier */
}

h1 {
    color: #333;
}

/* Weitere CSS-Regeln für andere Elemente */